@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.container {
    width: 100%;
    max-width: 1332px;
    margin: 0 auto;
    padding: 0 16px; 
}

@media (max-width: 900px) {
    .container {
        padding: 0 12px; 
    }
}